<!DOCTYPE html>

<head>
    <style>
        .modal-button {
            background-color: #01BAB3;
            color: white;
            padding: 12px 16px;
            font-size: 18px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            width: 15%;
        }

        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <form class="channel-settings" action="/sms" method="post">
            <div class="channel-selection">
                <p>Выберите канал</p>
                <select id="selector" class="channel-selection__selector">
                    <% if(toRender){ %>
                        <% for(let i=0; i < toRender.length; i++){ %>
                            <option>
                                <%=toRender[i] %>
                            </option>
                            <% } %>
                                <% } %>
                </select>
            </div>
            <div class="channel-message">
                <p id="name" class="channel-message__text">Добавление сообщения</p>
                <textarea id="message-field" class="channel-message__textarea" name="message" placeholder="Введите сообщение"></textarea>
            </div>

            <div class="channel-add-buttons">
                <button id="add-button" class="channel-add-buttons__button">Добавить кнопку</button>
                <div class="area channel-add-buttons__inline"><label>inline</label>
                    <input id="inline-checkbox" type="checkbox">
                </div>

                <div class="channel-add-buttons__button-names"></div>
            </div>
            <div class="channel-send-buttons">
                <button id="save-to-db" class="save" type="submit">Save to database</button>
                <button id="send-message" class="send" type="submit">Send message</button>
            </div>

        </form>
    </div>
</body>

<script defer>
    let counter = 0;
    let selector = document.querySelector("#selector");
    selector.addEventListener("change", function () {
        counter = 0;
        let options = document.querySelector(".channel-add-buttons");
        let textarea = document.querySelector("#message-field");
        //ограничение колва символов для разных каналов
        switch (selector.value) {
            case "SMS":
                break;
            case "VKontacte":
                textarea.maxlength = "4096"
                break;
            case "Telegram":
                textarea.maxlength = "4096"
                break;
            case "WhatsApp":
                textarea.maxlength = "1000"
                break;
        }
        if (selector.value != "SMS") {
            options.style.display = "block";
        } else {
            let names = document.querySelector(".channel-add-buttons__button-names");
            while (names.firstChild) {
                names.removeChild(names.firstChild);
            }
            options.style.display = "none";
            let checkbox = document.querySelector("#inline-checkbox");
        }
    })
    let addBtn = document.getElementById("add-button");
    addBtn.onclick = function (e) {
        e.preventDefault();
        let selectedCanal = document.querySelector("#selector");
        let checkbox = document.querySelector("#inline-checkbox");
        if (selectedCanal == "Vkontacte") {
            if ((!checkbox.checked) && (counter < 40)) {
                counter++;
                AddButton(counter);
            } else if ((checkbox.checked) && (counter < 10)) {
                counter++;
                AddButton(counter);
            }
        } else if (selectedCanal == "WhatsApp") {
            if ((!checkbox.checked) && (counter < 10)) {
                counter++;
                AddButton(counter, 20);
            } else if ((checkbox.checked) && (counter < 3)) {
                counter++;
                AddButton(counter, 20);
            }
        } else if (selectedCanal == "Telegram") {
            if (checkbox.checked) {
                counter++;
                AddButton(counter, 64);
            } else {
                counter++;
                AddButton(counter);
            }
        }


    }
    function AddButton(counter, maxL) {
        let containerBtn = document.createElement('div');
        containerBtn.classList.add('containerBtn');
        let closeModal = document.createElement('div');
        closeModal.classList.add('closeModal');
        let input = document.createElement('input');
        input.type = "text";
        input.placeholder = "text";
        input.classList.add("input-button");
        input.id = `button-text-${counter}`;
        if (maxL) {
            input.maxlength = maxL;
        }
        containerBtn.append(input);
        containerBtn.append(closeModal);
        let form = document.querySelector(".channel-add-buttons__button-names");
        form.append(containerBtn);
    }
    let buttonNames = document.querySelector(".channel-add-buttons__button-namess");
    buttonNames.onclick = function (e) {
        let target = e.target;
        if (target.classList.contains('closeModal')) {
            target.parentElement.remove();
        }
    }
    let saveToDB = document.getElementById("save-to-db");
    saveToDB.onclick = function (e) {
        e.preventDefault();
        //send form to save
    }
</script>

<footer>
</footer>