<!DOCTYPE html>

<head>
    <style>
        .modal-button {
            background-color: #01BAB3;
            color: white;
            padding: 12px 16px;
            font-size: 18px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            width: 15%;
        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="modal-container">
        <div class="block">
            <input id="sms-button" class="modal-button" type="button" value="Add message to SMS" />
        </div>
        <div id="modal-sms" class="modal">
            <div class="modal-content  form_addperson_block_content">
                <div class="modal-header">
                    <span id="close-sms" class="close">&times;</span>
                    <h2>Шапка модального окна</h2>
                </div>
                <div class="modal-body">
                    <div class="size">
                        <p id="name">Добавление сообщения в SMS</p>
                        <form id="form" class="form_addperson_style" action="/sms" method="post">
                            <input id="message-field" type="text" placeholder="Введите сообщение">
                            <input type="submit" value="Save message template">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-container">
        <div class="block">
            <input id="telegram-button" class="modal-button" type="button" value="Add message to Telegram" />
        </div>
        <div id="modal-telegram" class="modal">
            <div class="modal-content  form_addperson_block_content">
                <div class="modal-header">
                    <span id="close-tg" class="close">&times;</span>
                    <h2>Шапка модального окна</h2>
                </div>
                <div class="modal-body">
                    <div class="size">
                        <p id="name">Добавление сообщения в Telegram</p>
                        <form id="form" class="form_addperson_style" action="/telegram" method="post">
                            <input id="message-field" type="text" placeholder="Введите сообщение">
                            <input type="submit" value="Save message template">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-container">
        <div class="block">
            <input id="whatsapp-button" class="modal-button" type="button" value="Add message to WhatsApp" />
        </div>
        <div id="modal-whatsapp" class="modal">
            <div class="modal-content  form_addperson_block_content">
                <div class="modal-header">
                    <span id="close-whatsapp" class="close">&times;</span>
                    <h2>Шапка модального окна</h2>
                </div>
                <div class="modal-body">
                    <div class="size">
                        <p id="name">Добавление сообщения в WhatsApp</p>
                        <form id="form" class="form_addperson_style" action="/whatsapp" method="post">
                            <input id="message-field" type="text" placeholder="Введите сообщение">
                            <input type="submit" value="Save message template">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-container">
        <div class="block">
            <input id="vk-button" class="modal-button" type="button" value="Add message to VKontakte" />
        </div>
        <div id="modal-vk" class="modal">
            <div class="modal-content  form_addperson_block_content">
                <div class="modal-header">
                    <span id="close-vk" class="close">&times;</span>
                    <h2>Шапка модального окна</h2>
                </div>
                <div class="modal-body">
                    <div class="size">
                        <p id="name">Добавление сообщения в VKontakte</p>
                        <form id="form" class="form_addperson_style" action="/vkontakte" method="post">
                            <input id="message-field" type="text" placeholder="Введите сообщение">
                            <input type="submit" value="Save message template">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script defer>
    document.addEventListener("DOMContentLoaded", ready);
    function ready(){
        let modal_containers = document.querySelectorAll(".modal-container");
        for (let div of modal_containers){
            let modal = div.querySelector(".modal");
            let button = div.querySelector(".modal-button");
            let close = div.querySelector(".close");
            let modalId = modal.id;
            let buttonId = button.id;
            let closeId = close.id;
            ModalWork(modalId, buttonId, closeId);
        }
    }
    function ModalWork(modalId, openBtnId, closeBtnId) {
        let modal = document.getElementById(`${modalId}`);
        console.log(modal);
        let btn = document.getElementById(`${openBtnId}`);
        let span = document.getElementById(`${closeBtnId}`);
        btn.onclick = function () {
            modal.style.display = "block";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>

<footer>
</footer>